<script lang="ts">
    import {onMount} from 'svelte'
    import DashBoard from "./components/DashBoard.svelte";
    import {UserStore} from "./stores"

    let count: number = 0
    onMount(() => {
        loadUsers()
    })

    async function loadUsers() {
        const response = await fetch('/user/')
        const users = await response.json()
        UserStore.set(users)
    }


</script>

<style>
</style>

<div class="App">
    <DashBoard/>
</div>
