<script lang="ts">
    import {UserStore} from "../stores"
    import {TicketType} from "../model/UserModel";

    let name = 'Michael'
    let age = 15
    let ticketNumber = 'A123'
    let ticketType = TicketType.REGULAR
    let willWait = true

    async function onSubmit(e) {
        const res = await fetch('/user', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({name, age, ticketNumber, ticketType, willWait})
        })
        const newUser = await res.json()
        UserStore.update(users => [...users, newUser])
    }

    let display = false

</script>

<button class="btn btn-secondary btn-sm" on:click={() => display = !display}>Add a new Kid</button>
{#if display}
    <div><input bind:value={name} placeholder="Kid's name"></div>
    <div><input bind:value={age} type="number" placeholder="Kid's age"></div>
    <div><input bind:value={ticketNumber} placeholder="Ticket number"></div>
    <div>Ticket type <select bind:value={ticketType}>
        <option value="{TicketType.REGULAR}">Regular</option>
        <option value="{TicketType.VIP}">VIP</option>
    </select></div>
    <div><input bind:checked={willWait} type="checkbox"> will wait in queue</div>
    <div><input on:click={onSubmit} type="submit" value="Submit"></div>
{/if}
