<script lang="ts">

    import Line from "svelte-chartjs/src/Line.svelte"
    import {onMount} from "svelte";

    const borderColor = ['red', 'blue', 'green', 'orange', 'purple']

    let chart;

    onMount(() => {
        loadSnapshots()
    })

    async function loadSnapshots() {
        const response = await fetch('/snapshot/')
        const json = await response.json()
        chart = {
            datasets: json.map(site => ({
                label: site.siteName,
                borderColor,
                data: Object.entries(site.utilization).map(e => ({x: e[0], y: e[1]}))
            }))
        }
    }

</script>

<Line data={chart} options={{ responsive: true }}/>