<script lang="ts">

    import UserBoard from "./UserBoard.svelte";
    import PlaysiteBoard from "./PlaysiteBoard.svelte";
    import ChartBoard from "./ChartBoard.svelte";

    let tab;

</script>

<div class="container">
    <nav class="nav nav-tabs nav-pills mb-4">
        <a class="nav-link" class:active={tab === "kids"} on:click={() => tab="kids"} href="#">Kids</a>
        <a class="nav-link" class:active={tab === "sites"} on:click={() => tab="sites"} href="#">Play sites</a>
        <a class="nav-link" class:active={tab === "chart"} on:click={() => tab="chart"} href="#">Utilization chart</a>
    </nav>


    {#if tab === "kids"}
        <UserBoard/>
    {/if}
    {#if tab === "sites"}
        <PlaysiteBoard/>
    {/if}
    {#if tab === "chart"}
        <ChartBoard/>
    {/if}

</div>
