<script lang="ts">
    import {PlaysiteStore, UserStore} from "../stores"

    export let siteId;
    $: site = $PlaysiteStore.find(s => s.id === siteId);
    let selectUserToAdd = 0;

    function userName(id: number) {
        return $UserStore.find(u => u.id === id).name
    }

    async function removeUser(userId) {
        await fetch('/management', {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                userId: userId,
                siteId: site.id
            })
        })
        const res = await fetch('/playsite')
        PlaysiteStore.set(await res.json())
    }

    async function addUser(userId) {
        const req = await fetch('/management', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                userId: userId,
                siteId: site.id
            })
        })

        if (req.status == 200) {
            const res = await fetch('/playsite')
            PlaysiteStore.set(await res.json())
            selectUserToAdd = 0;
        } else {
            const {error} = await req.json()
            alert(error)
        }
    }

</script>

<h3>{site.name}</h3>
<table class="table table-bordered">
    <tbody>
    <tr>
        <td class="col-4">ID</td>
        <td>{site.id}</td>
    </tr>
    <tr>
        <td>Utilization</td>
        <td>{site.utilization}%</td>
    </tr>
    <tr>
        <td>Kids on site</td>
        <td>{site.onSiteUsers.length}</td>
    </tr>
    <tr>
        <td>Kids in queue</td>
        <td>{site.inQueueUsers.length}</td>
    </tr>
    <tr>
        <td>Play site capacity</td>
        <td>{site.maxCapacity}</td>
    </tr>
    </tbody>
</table>

<h3>Kids on site</h3>
<table class="table table-bordered">
    <tbody>
    {#each site.onSiteUsers as userId}
        <tr>
            <td>{userName(userId)}</td>
            <td>
                <button class="btn btn-danger btn-sm" on:click={() => removeUser(userId)}>remove</button>
            </td>
        </tr>
    {/each}
    </tbody>
</table>

<h3>Kids in queue</h3>
<table class="table table-bordered">
    <tbody>
    {#each site.inQueueUsers as userId}
        <tr>
            <td>{userName(userId)}</td>
            <td>
                <button class="btn btn-danger btn-sm" on:click={() => removeUser(userId)}>remove</button>
            </td>
        </tr>
    {/each}
    </tbody>
</table>

<h3>Add kid to the play site</h3>
<select bind:value={selectUserToAdd}>
    {#each $UserStore as user}
        <option value="{user.id}">{user.name}</option>
    {/each}
</select>
<button class="btn btn-success btn-sm" disabled={!selectUserToAdd} on:click={() => addUser(selectUserToAdd)}>Add
</button>
