<script lang="ts">
    import {PlaysiteStore} from "../stores"
    import {onMount} from "svelte";
    import type {PlaysiteModel} from "../model/PlaysiteModel";
    import PlaysiteStatus from "./PlaysiteStatus.svelte";

    async function loadSite() {
        const response = await fetch('/playsite/')
        const sites = await response.json()
        PlaysiteStore.set(sites)
    }

    onMount(() => {
        loadSite()
    })

    let selectedSite: PlaysiteModel;

    function onClick(site): void {
        selectedSite = site
    }

</script>


<div class="row">
    <div class="col-3">
        <h4 class="mt-4">List of play sites</h4>
        <ul class="list-group">
            {#each $PlaysiteStore as site}
                <a href="#" class="list-group-item list-group-item-action" class:active={selectedSite?.id===site.id}
                   on:click={() => onClick(site)}>{site.name} ({site.utilization}%)</a>

            {/each}
        </ul>
    </div>

    <div class="col-9">
        {#if selectedSite}
            <PlaysiteStatus siteId="{selectedSite.id}"/>
        {/if}
    </div>

</div>
