<script lang="ts">
    import {UserStore} from "../stores"
    import AddUserForm from "./AddUserForm.svelte";
    import UserStatus from "./UserStatus.svelte";
    import type {UserModel} from "../model/UserModel";
    import type {EventModel} from "../model/EventModel";

    let selectedUser: UserModel
    let userEvents: EventModel[]

    async function loadEvents(id: number) {
        const response = await fetch('/events/' + id)
        return await response.json()
    }

    async function onClick(user) {
        selectedUser = user
        userEvents = await loadEvents(user.id)
    }

</script>


<AddUserForm/>

<div class="row">
    <div class="col-3">
        <h4 class="mt-4">List of Kids</h4>
        <ul class="list-group">
            {#each $UserStore as user}
                <a href="#" class="list-group-item list-group-item-action" class:active={selectedUser?.id===user.id}
                   on:click={() => onClick(user)}>{user.name}, {user.age}</a>

            {/each}
        </ul>
    </div>

    <div class="col-9">
        {#if selectedUser}
            <UserStatus user="{selectedUser}" events="{userEvents}"/>
        {/if}
    </div>

</div>
