<script lang="ts">
    import type {UserModel} from "../model/UserModel";
    import type {EventModel} from "../model/EventModel";

    export let user: UserModel;
    export let events: EventModel[] = [];

</script>

<h3>{user.name}</h3>
<table class="table table-bordered">
    <tbody>
    <tr>
        <td class="col-4">ID</td>
        <td>{user.id}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>{user.age}</td>
    </tr>
    <tr>
        <td>Ticket number</td>
        <td>{user.ticketNumber}</td>
    </tr>
    <tr>
        <td>Ticket type</td>
        <td>{user.ticketType}</td>
    </tr>
    <tr>
        <td>Accepts waiting in queue</td>
        <td>{user.willWait}</td>
    </tr>
    </tbody>
</table>

<h3>User history</h3>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Event type</th>
        <th>Play site</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Duration</th>
    </tr>
    </thead>
    <tbody>
    {#each events as event}
        <tr>
            <td>{event.eventType}</td>
            <td>{event.playSite}</td>
            <td>{event.startedAt}</td>
            <td>{event.finishedAt}</td>
            <td>{event.duration}</td>
        </tr>
    {/each}
    </tbody>
</table>
